:root{
    --color-primary: white;
    --color-secondary: black;
    --color-alternative: gold;
    --color-header-shadow: #b1c3c3;
    --color-title-underline: rgba(17, 17, 26, 0.1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root{
    height: 100vh;
}

body{
    background-color: var(--color-primary);
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
}