.autosize{
    width: 95%;
}
@media only screen and (min-width: 640px){
    .autosize{
        width: 600px;
    }
}
@media only screen and (min-width: 1000px){
    .autosize{
        width: 700px;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root{
    -webkit-tap-highlight-color: transparent;

    min-height: 100%;
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
}
