.header--content
    padding-left: 0.5vw
    padding-right: 2vw

    box-sizing: border-box
    border: 1px solid black
    height: 100%

    display: flex
    justify-content: start
    align-items: center
